transformers
pyannote.audio
ftfy
deepspeed
accelerate
diffusers
fuzzywuzzy[speedup]
openai
protobuf
nemo-asr
hydra-core
webrtcvad
SimpleWebSocketServer
youtokentome
webdataset
editdistance
jiwer
nltk
ctranslate2
faster_whisper
